{
	"presets": [
		["@babel/env", {
			"targets": {
				"node": "current"
			}
		}]
	],
	"plugins": [
		["@babel/proposal-object-rest-spread", {
			"useBuiltIns": true
		}],
		["@babel/plugin-transform-modules-commonjs", {
			"mjsStrictNamespace": false
		}]
	]
}
